#texto_idioma_turma{
	position: absolute;
	left: 30px;
	top: 280px;
}

#texto_sala{
	position: absolute;
	left: 40px;
	top: 237px;
}

#select_sala{
	position: absolute;
	left: 100px;
	top: 240px;
	width: 90px;
}

#select_idioma{
	position: absolute;
	left: 100px;
	top: 285px;
	width: 100px;
}
#textoDesc{
	position: absolute;
	left: 20px;
	top: 325px;
}

#texto_horario{
	position: absolute;
	left: 30px;
	top: 375px;
}

#horario_turma{
	position: absolute;
	left: 100px;
	top: 380px;
	width: 120px;
}

#desc_turma{
	position: absolute;
	left: 100px;
	top: 330px;
	border-radius: 3px;
}
#add_turma{
	position: absolute;
	left: 95px;
	top: 430px;
}
#cancel_turma{
	position: absolute;
	left: 200px;
	top: 430px;
}

#table_area{
	position: absolute;
	top: 240px;
	left:380px;
	width: 60%;

}